<!DOCTYPE HTML>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<script src="js/bootstrap.min.js"></script>
<html>
	<!--head-->
	<head>
		<title>food</title>
		<link rel="stylesheet" href="../static/css/main.css" rel="stylesheet">
	    <script src="http://code.jquery.com/jquery-latest.js"></script>
	</head>
	<body class="homepage is-preload">
		<div id="page-wrapper">
			<!-- Header -->
			<section id="header">
				<div class="container">
					<!-- Logo -->
					<h1><a href="/home" id="logo">food</a></h1>
				</div>
			</section>
				<div class="nav-scroller ">
					<nav class="nav d-flex justify-content-between">
					  <a class="p-2 link-secondary" href="#a">壽司</a>
					  <a class="p-2 link-secondary" href="/home">拉麵</a>
					  <a class="p-2 link-secondary" href="/home">刺身</a>
					  <a class="p-2 link-secondary" href="/home">定食</a>
					  <a class="p-2 link-secondary" href="/home">甜點</a>
					</nav>
				  </div>
			</div>
				<!-- books -->
				<section id="features">
					<header class="style1">
						<h2><strong>商品頁面</strong></h2>
					</header>
					<div class="container">
						<!-- food1 -->
						<article class="pricing-item">
							<h3>熱門商品</h3><br>
							<div class="row aln-center">
								<table>
									<% for (var i=0 ; i < 4 ; i++) { %>
										<div class="col-3 col-6-medium col-12-small">
											<section class="books">
												<a href="/home" >
													<div class="photo1">
														<img class="image featured" src="../static/images/food1.jpeg"  style="width:200px;height:150px;font-size:8px;" />
													</div>
												</a>
												<h3><p href="/home" class="name" id="name"> %=food_name %> </p></h3>
												<div class="display-flex">
												<p class="price" id="price">價錢：%= food_price%></p>
												</div>			
												
												<ul class="actions">
													<li>
															<div id="addcart" class="col-8 col-12-medium imp-medium">
																<a href="/home" class="button style2 large" style="width:120px;height:40px;font-size:8px;">加入購物車</a>
															</div>
													</li>
												</ul>
											</section>
										</div>
									<% } %>

								</table>
							</div>
						

						</article>
						<!-- food2 -->	
						<A Name="a"></A>
						<article class="pricing-item">
							<h3>壽司</h3><br>
							<div class="row aln-center">
								<table>
									<% for (var i=0 ; i < 16 ; i++) { %>
										<div class="col-3 col-6-medium col-12-small">
											<section class="books">
												<a href="/home" >
													<div class="photo1">
														<img class="image featured" src="../static/images/food1.jpeg"  style="width:200px;height:150px;font-size:8px;" />
													</div>
												</a>
												<h3><p href="/home" class="name" id="name"> %=food_name %> </p></h3>
												<div class="display-flex">
												<p class="price" id="price">價錢：%= food_price%></p>
												</div>			
												
												<ul class="actions">
													<li>
															<div id="addcart" class="col-8 col-12-medium imp-medium">
																<a href="/home" class="button style2 large" style="width:120px;height:40px;font-size:8px;">加入購物車</a>
															</div>
													</li>
												</ul>
											</section>
										</div>
									<% } %>

								</table>
							</div>
					</div>
				</section>
				<a href="/cart" >
						<img plain='true' class="circle" src="../static/images/cart.png" style="width:80px;height:80px;" ></image> 
				</a>
				
			<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.dropotron.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>
		</div>
	</body>

</html>
