<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>food●點餐系統</title>
<!-- Bootstrap css-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<%- include('./partials/headermerch.ejs') %>
	<div class="container" style="margin-top: 80px">
		<div class="row" >
			<div class="col-sm-4 col-sm-offset-4">
				<div style="text-align: center">
					<h3>我的資料</h3>
					<hr/>
				</div>
				<form>
					<div class="form-group">
						<label for="point">姓名</label><br>
						<p>留名</p>
					</div>
					<div class="form-group">
						<label for="point">電話</label><br>
						<p>09666666666</p>
					</div>
					<div class="form-group">
						<label for="point">職稱</label><br>
						<p>員工</p>
					</div>
					<div class="form-group">
						<label for="point">員工服務碼</label><br>
						<p>456</p>
					</div>
					<div class="form-group">
						<label for="point">本月工作時數</label><br>
						<p>66hr</p>
					</div>
					<div class="form-group">
						<label for="acount">帳號<span style="color:crimson">(不可變更)</span></label><br>
						<p>ROBOT@gmail.com</p>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">密碼</label>
						<input type="password" class="form-control" id="exampleInputPassword1" placeholder="********">
					</div>
					<div style="text-align: right;margin-top: 5px;">
						<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">更改密碼</button>
						<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
							<div class="modal-dialog modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
										<h4 class="modal-title" id="gridSystemModalLabel">請在下方輸入E-mail驗證碼</h4>
									</div>
									<div class="modal-body">
										<input type="number" class="form-control" id="exampleInputPassword1">
									</div>
									<div class="modal-footer">
										<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
										<button type="button" class="btn btn-primary">送出驗證</button>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>