<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>food●點餐系統</title>
<!-- Bootstrap css-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<!-- Bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<div class="container" style="margin-top: 80px">
		<div class="row">
			<div class="col-sm-4 col-sm-offset-4" style="text-align: center">
				<h3>成功產生QRcode!!</h3>
				<hr/>
				<form>
					<div class="form-group">
						<label for="point">桌號：<%= table %></label>					
					</div>
					<a href="<%= qrurl %>">
						<img src="./static/qr/<%= time %>.png" width="250px" alt="">
					</a>
					<div class="form-group">
						<label for="point">入場時間：<%= time %></label>
					</div>
					<div class="form-group">
						<div style="text-align: center;margin-top: 5px;">
							<button type="button" class="btn btn-primary" data-toggle="modal" data-target=".bs-example-modal-sm">重新產生QRcode</button>
							<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
								<div class="modal-dialog modal-sm" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="gridSystemModalLabel">確認清除並重新產生？</h4>
										</div>
										<div class="form-group">
											<label for="acount">請輸入授權碼<span style="color:crimson"></span></label>
											<input type="password" class="form-control" id="exampleInputPassword1" placeholder="授權碼">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default">取消</button>
											<button type="button" class="btn btn-primary">確認</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>