<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>food●點餐系統</title>
<!-- Bootstrap css-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/main1.css" />
<!-- Bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<%- include('./partials/headermerch.ejs') %>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="order.html"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;&nbsp;我要點餐</a></li>
		<li><a href="mycart.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp;我的購物車</a></li>
		<li>
			<a href="orderrecord.html">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
				<span>&nbsp;&nbsp;訂單狀態</span>
				<span id="tag">2</span>
			</a>
		</li>
		
	</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="container" style="margin-top:50px;padding-bottom: 30px">
<h2 class="h2">按服務鈴桌號：</h2>
<div class="col-4 col-6-medium col-12-small">
<!-- Features -->
				<section id="features">
					
					<div class="container">
						<div class="row aln-center">
							<% var ring=0 ; %> 
                            <% for (var i=0 ; i < 6 ; i++) { %> 
                                <div class="col-4 col-6-medium col-12-small">
                                  <!-- Feature -->
                                    <section>
										<%if (ringtable[i]==1){%> 
											<div class="warning-text">本桌按服務鈴</div><br>
											<% var ring=1 ; %> 
										<%} %>
										<%if (ringtable[i]==0){%> 
											<div style="color:rgb(255, 255, 255)">..</div><br>
											<% var ring=0 ; %> 
										<%} %>
										<div class="tablestyle">第 <%=i+1%> 桌</div>
										<br><br>
										<%if (ring==1){%> 
                                        <header>
                                            <button type="button" class="btn" data-toggle="modal" data-target=".bs-example-modal-sm">完成服務</button>	
                                        </header>
										<%} %>
                                    </section>
                                </div>
                            <% }%>
							<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
								<div class="modal-dialog modal-sm" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="gridSystemModalLabel">已完成第n桌服務? <br>請在下方輸入員工服務碼</h4>           <!-- 員工可累積服務次數 也可從客人得知服務好壞 -->

										</div>
										<div class="modal-body">
											<input type="password" class="form-control" id="exampleInputPhonenumber" placeholder="服務碼">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
											<button id="ringok"type="button" class="btn btn-primary " href="">送出驗證</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
            </div>
</body>
</html>