<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>food●點餐系統</title>
<!-- Bootstrap css-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/main1.css" />
<!-- Bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<%- include('./partials/headermerch.ejs') %>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="order.html"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;&nbsp;我要點餐</a></li>
		<li><a href="mycart.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp;我的購物車</a></li>
		<li>
			<a href="orderrecord.html">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
				<span>&nbsp;&nbsp;訂單狀態</span>
				<span id="tag">2</span>
			</a>
		</li>
		
	</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div class="container" style="margin-top:0px;padding-bottom: 30px">
<!-- Features -->
				<section id="features">
					<div class="container">
						<div class="row aln-left">
							<% var ring=0 ; %> 
							<% for (var i=0 ; i < 6 ; i++) { %> 
                                <div class="col-2 col-6-left col-12-small" id="table<%=i%>">
                                  <!-- Feature -->
                                    <section>
										<!-- 有人按鈴 -->
										<%if (ringtable[i]==0){%> 
											<a>&nbsp;</a><br><br>
										<%}%>
										<!-- 沒人按鈴 -->
										<%if (ringtable[i]==1){%> 
											<a class="warning-text" data-toggle="modal" data-target=".bs-example-modal-sm">
												<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>
											</a><br><br>
										<%}%>
										<div class="tablestyle3">第 <%=i+1%> 桌</div><br>
											<a href="#"><h5>
												<%if (i%2==0){ %>
													<div class=" warning-text">尚有未送餐</div>
												<%} %>	
												<%if (i%2==1){ %>
													訂單皆已送餐
												<%} %>
											</h5></a><br>
                                            <button type="button" class="btn">送餐</button></button>     
                                        
                                    </section>
                                </div>
                            <% }%>
						<!-- Modal -->
							<div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
								<div class="modal-dialog modal-sm" role="document">
									<div class="modal-content">
										<div class="modal-header">
											<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
											<h4 class="modal-title" id="gridSystemModalLabel">已完成第n桌服務? <br>請在下方輸入員工服務碼</h4>           <!-- 員工可累積服務次數 也可從客人得知服務好壞 -->

										</div>
										<div class="modal-body">
											<input type="password" class="form-control" id="exampleInputPhonenumber" placeholder="服務碼">
										</div>
										<div class="modal-footer">
											<button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
											<button id="ringok"type="button" class="btn btn-primary " href="">送出驗證</button>
										</div>
									</div>
								</div>
							</div>
							<div class="col-7 col-1-left col-12-small">
								<img src="images/seat.jpg" width="100%" alt="...">
							</div>	
							<div class="col-4 col-6-medium col-12-small">
								<!-- Feature -->
								  <section>
									<%if (0){ %>
										<div class="tablestyle">空閒中</div>
									<%} %>
									<%if (1){ %>
										<div class="tablestyle warning-text">移動中</div>
									<%} %>
									<header>
										  <br><br>
										  <button type="button" class="btn" onclick="alert('已暫停')">緊急暫停</button></button><br><br>
										  <button type="button" class="btn" onclick="alert('機器人回家中')">回到原位</button></button><br><br>
										  <button type="button" class="btn" onclick="alert('??')">此訂單餐點</button></button><br><br>
										  <button type="button" class="btn" onclick="alert('??')">??</button></button><br><br>
									</header>
								  </section>
							  </div>						
						</div>
					</div>
				</section>
</body>
</html>
<script src="../static/js/ring.js"></script>