<!DOCTYPE html>
<html lang="zh-TW">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>food●點餐系統</title>
<!-- Bootstrap css-->
<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href="css/main1.css" />
<!-- Bootstrap js-->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/bootstrap.min.js"></script>
</head>
<body>
	<%- include('./partials/headermerch.ejs') %>
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	<ul class="nav navbar-nav navbar-right">
		<li><a href="order.html"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;&nbsp;我要點餐</a></li>
		<li><a href="mycart.html"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>&nbsp;&nbsp;我的購物車</a></li>
		<li>
			<a href="orderrecord.html">
				<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
				<span>&nbsp;&nbsp;訂單狀態</span>
				<span id="tag">2</span>
			</a>
		</li>
		
	</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
<div id="myTabContent" class="tab-content">
	<div class="tab-pane fade in active" id="confirm">
		<h3 class="text-center">上架商品</h3>
		<table class="table table-striped table-hover text-center">
			<tr>
				<th class="text-left">項次</th>
				<th class="text-left">商品名稱</th>
				<th class="text-left">商品種類</th>
				<th class="text-left">商品描述</th>
				<th class="text-left">價錢</th>
				<th class="text-left">選擇照片</th>
				<th class="text-left">新增項目</th>
			</tr>
			<form action="/upload/uploadItem" method="post" enctype="multipart/form-data">
				<!-- 這裡要改 -->
				<!-- 這要改這裡 -->
					<tr>
					
					<th class="text-center">1</th>
					<td>
						<input type="name" class="form-control" id="exampleInputPassword1" placeholder="商品名稱" name="name">
					</td>
					<td>
						<select class="form-control" name="type">
							<option>選擇要新增的種類</option>
							<option>拉麵</option>
							<option>壽司</option>
							<option>甜點</option>
						</select>
					</td>
					<td>	
						<input type="description" class="form-control" id="exampleInputName" placeholder="商品描述" name="description">
					</td>
				<td>
						<input type="money" class="form-control" id="exampleInputName" placeholder="價錢" name="price">
					</td>
					<td>
						<input type="file" name="image" accept="image/png, image/jpeg">
					</td>
					<td>
						<a id="add-field"><span class="glyphicon glyphicon-plus" ></span></a>
					</td>
				</tr>
				</table>
				<br><br><button class="buttonnext" id="upload"><span>確認上傳 </span></button>
			</form>
	</div>
</div>
</body>

<script>
	var rowCount = 1;
    $(document).on("click", "#add-field", function () {
		rowCount++; 
        var newField = '<tr>' +
            '<th class="text-center">' +rowCount + '</th>' +
            '<td><input type="name" class="form-control" id="exampleInputPassword1" placeholder="商品名稱" name="name"></td>' +
            '<td><select class="form-control" name="type">' +
            '<option>選擇要新增的種類</option>' +
            '<option>拉麵</option>' +
            '<option>壽司</option>' +
            '<option>甜點</option>' +
            '</select></td>' +
            '<td><input type="description" class="form-control" id="exampleInputName" placeholder="商品描述" name="description"></td>' +
            '<td><input type="money" class="form-control" id="exampleInputName" placeholder="價錢" name="price"></td>' +
            '<td><input type="file" name="image" accept="image/png, image/jpeg"></td>' +
            '<td><a id="add-field"><span class="glyphicon glyphicon-plus" ></span></a></td>' +
            '</tr>';
        $('table').append(newField);
    });
</script>
</html>