<nav class="navbar navbar-clientcolor navbar-fixed-top">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="index2.html">
				<img src="images/logo.png" height="50px">
			</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/qrchoose"><span class="glyphicon glyphicon-qrcode" aria-hidden="true"></span>&nbsp;&nbsp;產生QR</a></li><!--  測試QRcode的按鈕 -->
				<li><a href="/merchant">
					<span class="glyphicon glyphicon-tasks" aria-hidden="true"></span>
					<span>&nbsp;&nbsp;訂單狀態</span>
					<span id="tag">(2)</span></a>
				</li>
				<li><a href="/robot"><span class="glyphicon glyphicon-road" aria-hidden="true"></span>&nbsp;&nbsp;機器人狀態</a></li>
				<li><a href="/ring">
					<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>&nbsp;&nbsp;服務鈴
					<span id="tag">(2)</span>
				</a></li>
				<li><a href="/menu"><span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span>&nbsp;&nbsp;菜單</a></li>
				<li class="dropdown">
					<a href="/merchant" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp;&nbsp;我的帳戶
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="/merchant"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span>&nbsp;&nbsp;我的資料</a></li>
						<li><a href="/upload"><span class="glyphicon glyphicon-open" aria-hidden="true"></span>&nbsp;&nbsp;商品上架</a></li>
						<li><a href="/login"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;&nbsp;登出</a></li>
					</ul>
				</li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>