

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse keeptop" id="bs-example-navbar-collapse-1" >
            <ul class="nav navbar-nav navbar-right">
                <li><a>&nbsp;&nbsp;第<%= session.table %>桌&nbsp;&nbsp;</a></li>
                <li><a href="/home">&nbsp;&nbsp;<span class="glyphicon glyphicon-home" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;</a></li>
                <li><a href="/cart"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
                    <span>&nbsp;&nbsp;</span>
                    <% if (session.cart) { %>
                        <% let totalAmt=0;for (let i = 0; i < session.cart.length; i++) totalAmt += parseInt(session.cart[i].amt); %>
                        <span id="tag">(<%= totalAmt %>)</span></a>
                    <% } else { %>
                        <span id="tag">(0)</span></a>
                    <%} %>
                </li>
                <li><a href="/orderrecord">
                    <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>
                    <span>&nbsp;&nbsp;</span>
                    <span id="tag">(<%= session.orderamtz %>)</span></a>
                </li>
                <li><a href="#" data-toggle="modal" data-target="#ring">&nbsp;&nbsp;<span class="glyphicon glyphicon-bell" aria-hidden="true"></span>&nbsp;&nbsp;&nbsp;</a></li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
    <br>
</nav>

<!-- Modal2 -->
<div class="modal fade" id="ring" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </a><h4 class="modal-title itemname" style="text-align: center ;"id="myModalLabel2"><br>是否呼叫店員？？<br></h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                    <a href="/ring/callRing"><button type="button" class="btn btn-primary">呼叫店員</button></a>
                </div>
            </form>
        </div><!--modal-content end-->
    </div>
</div><!-- Modal end-->