<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form>
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title itemname" id="myModalLabel">訂單明細 1</h4>
                    <p>訂單日期：2023年03月18日</p>
                </div>
                <div class="modal-body">
                    <table class="table table-striped text-center">
                        <tr>
                            <td>項次</td>
                            <td>品名</td>
                            <td>數量</td>
                            <td>單價</td>
                            <td>金額</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>海陸豚骨拉麵</td>
                            <td>2</td>
                            <td>300</td>
                            <td>600</td>
                        </tr>
                        <tr>
                            <td colspan="4">訂單金額總計</td>
                            <td style="color: crimson;font-size: 18px">600</td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">關閉</button>
                </div>
            </form>
        </div><!--modal-content end-->
    </div><!-- Modal end-->